@charset "UTF-8";

/* Foundation
------------------------------------------------*/
/* Function
------------------------------------------------*/
/* Base Style
------------------------------------------------*/
:root {
  --text-color: #333;
  --gray-color: #E8E8E8;
  --main-color: #391E88;
  --button-background: linear-gradient(90deg, #7633a4 0%, #250d65 100%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1;
  background: white;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Layout
------------------------------------------------*/
.l-header {
  position: relative;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  z-index: 500;
  transition: background-color 0.3s ease;
}

.l-header--bg {
  background-color: #21054D;
}

.l-header__link {
  display: block;
  margin-left: 0.25rem;
  width: 7.75rem;
}

.l-header__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
}

.l-header__button--cross {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

.l-header__icon {
  display: block;
  width: 2.0625rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: #FFF;
}

.l-header__icon--bar:not(:first-child) {
  margin-top: 0.3125rem;
}

.l-header__icon--cross {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.625rem;
}

.l-header__icon--cross:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.l-header__icon--cross:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.l-header__hamburgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: linear-gradient(#642390 0%, #19074A 100%);
  z-index: 600;
}

.l-header__hamburgerMenu--hide {
  display: none;
}

.l-header__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.375rem;
  justify-content: center;
  padding-bottom: 0.125rem;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.l-header__listItem {
  text-align: center;
}

.l-header__listLink {
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.l-header__topButton {
  box-sizing: border-box;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #FFF;
  border: 0.0625rem solid #707070;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.l-header__topButton--hide {
  opacity: 0;
  pointer-events: none;
}

.bi-arrow-up {
  font-size: 1.375rem;
  color: #707070;
}

@media (min-width: 768px) {
  .l-header {
    align-items: flex-start;
    padding: 2.0625rem 1.625rem 0;
    height: 4rem;
    transition: background-color 0.3s ease, padding 0.3s ease;
  }

  .l-header--pcScroll {
    padding: 1.625rem 1.625rem 0;
  }

  .l-header__link {
    margin-top: 0.0625rem;
    width: 10.0575rem;
  }

  .l-header__button {
    display: none;
  }

  .l-header__hamburgerMenu {
    position: relative;
    width: initial;
    height: initial;
    background: none;
    z-index: 600;
  }

  .l-header__list {
    flex-direction: row;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-right: 0.1875rem;
    padding-bottom: 0.25rem;
    width: initial;
    height: initial;
  }

  .l-header__listItem {
    text-align: center;
  }

  .l-header__listLink {
    position: relative;
    font-size: 0.875rem;
  }

  .l-header__listLink::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -0.1875rem;
    left: -0.125rem;
    width: calc(100% + 0.25rem);
    height: 0.0625rem;
    background-color: #FFF;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .l-header__listLink:hover::after {
    transform: scaleX(1);
  }

  .l-header__topButton {
    bottom: 2.8125rem;
    right: 2.8125rem;
  }
}

/* Main Visual
------------------------------------------------*/
.l-mainVisual {
  position: relative;
  padding: calc(50vh - 7.4375rem) 1.875rem 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-image: url("https://github.com/blahiple/cordingAdvanced/image/main_visual/main_visual_1_sp.webp");
  background-position: center;
  background-size: cover;
}

.l-mainVisual--small {
  padding-top: 6.0625rem;
  height: 11.875rem;
  background-image: url("https://github.com/blahiple/cordingAdvanced/image/main_visual/main_visual_2_sp.webp");
}

.l-mainVisual__container--small {
  text-align: center;
}

.l-mainVisual__title {
  display: block;
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.1;
}

.l-mainVisual__title--small {
  margin: 0 auto;
  font-size: 1.875rem;
  line-height: 1;
}

.l-mainVisual__subTitleContainer {
  margin-top: 0.9375rem;
}

.l-mainVisual__subTitle {
  display: block;
  color: #FFF;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.8125;
}

.l-mainVisual__subTitle--small {
  margin: 0.5625rem auto 0;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.8125rem;
  line-height: 1;
}

.l-mainVisual__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1.5rem;
  width: 13.75rem;
  height: 3.4375rem;
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: 0.0625rem solid #FFF;
  border-radius: 3.125rem;
}

.l-mainVisual__button .bi-caret-right-fill {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.l-mainVisual__scroll {
  position: absolute;
  bottom: -1.75rem;
  right: 1.0625rem;
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  transform-origin: top right;
  transform: rotate(90deg);
}

.l-mainVisual__scroll::after {
  content: "";
  display: inline-block;
  margin: 0 0 0.25rem 0.25rem;
  width: 3.125rem;
  height: 0.0625rem;
  background-color: #FFF;
  transform-origin: left;
  transform: scaleX(0);
  animation: animScroll 2s ease infinite;
}

@keyframes animScroll {
  0% {
    transform-origin: left;
    transform: scaleX(0);
    opacity: 1;
  }

  49% {
    transform-origin: left;
    transform: scaleX(1);
    opacity: 1;
  }

  50% {
    transform-origin: right;
    transform: scaleX(1);
    opacity: 1;
  }

  100% {
    transform-origin: right;
    transform: scaleX(0);
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .l-main--bg {
    background-image: url("https://github.com/blahiple/cordingAdvanced/image/recruit/recruit_bg.webp");
    background-size: 25rem 25rem;
    background-position: 0 17.8125rem;
    background-repeat: repeat;
  }

  .l-mainVisual {
    padding: calc(50vh - 7.5rem) 1.875rem 0;
    background-image: url("https://github.com/blahiple/cordingAdvanced/image/main_visual/main_visual_1_pc.webp");
  }

  .l-mainVisual--small {
    padding-top: 6.625rem;
    height: 15rem;
    background-image: url("https://github.com/blahiple/cordingAdvanced/image/main_visual/main_visual_2_pc.webp");
  }

  .l-mainVisual__container--small {
    text-align: center;
  }

  .l-mainVisual__titleContainer {
    padding-left: 0.25rem;
    text-align: center;
  }

  .l-mainVisual__title {
    display: inline-block;
    width: initial;
    font-size: 4.5rem;
    line-height: 1.25;
  }

  .l-mainVisual__title:first-child {
    margin-right: 1.125rem;
  }

  .l-mainVisual__title--small {
    display: block;
    font-size: 2.25rem;
  }

  .l-mainVisual__title--small:first-child {
    margin-right: 0rem;
  }

  .l-mainVisual__subTitleContainer {
    margin-top: 0.5rem;
    padding-right: 0.1875rem;
    text-align: center;
  }

  .l-mainVisual__subTitle {
    display: inline-block;
    font-size: 1.5rem;
  }

  .l-mainVisual__subTitle:first-child {
    margin-right: -0.25rem;
  }

  .l-mainVisual__subTitle--small {
    display: block;
    margin: 0.25rem auto 0;
    font-size: 0.875rem;
  }

  .l-mainVisual__button {
    margin: 2.5625rem auto 0;
  }

  .l-mainVisual__scroll {
    bottom: -1.6875rem;
    right: 2rem;
  }

  .l-mainVisual__scroll::after {
    width: 4.9375rem;
  }
}

/* Bar
------------------------------------------------*/
.l-bar {
  padding: 0 1.25rem;
  width: 100%;
  height: 1.5625rem;
  background-color: #F7F7F7;
}

.l-bar__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
  width: 100%;
  height: 100%;
}

.l-bar__listItem,
.l-bar__listLink {
  flex-shrink: 0;
  max-width: 12.5rem;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.6875rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.l-bar__listItem {
  color: var(--text-color, #333);
}

.l-bar__listItem:not(:first-child)::before {
  content: ">";
  margin-right: 0.5rem;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.l-bar__listLink {
  color: var(--main-color, #391E88);
}

@media (min-width: 768px) {
  .l-bar {
    padding: 0 1.25rem;
    height: 2.8125rem;
  }

  .l-bar__list {
    -moz-column-gap: 0.4375rem;
    column-gap: 0.4375rem;
    margin: 0 auto;
    max-width: 69.375rem;
  }

  .l-bar__listItem,
  .l-bar__listLink {
    max-width: initial;
    font-size: 0.75rem;
  }

  .l-bar__listItem:not(:first-child)::before {
    margin-right: 0.5rem;
  }
}

/* Contact
------------------------------------------------*/
.l-contact {
  padding-top: 4rem;
  padding-bottom: 3.75rem;
  background-color: #F7F7F7;
}

.l-contact__titleContainer {
  margin-bottom: 1.5625rem;
  text-align: center;
}

@media (min-width: 768px) {
  .l-contact {
    padding-top: 5.25rem;
    padding-bottom: 5rem;
  }

  .l-contact__titleContainer {
    margin-bottom: 1.9375rem;
  }

  .l-contact__br {
    display: none;
  }
}

.l-footer {
  padding: 3.5625rem 1.9375rem 0;
  width: 100%;
  height: 13.3125rem;
  background-color: #120E19;
}

.l-footer__nav {
  margin-bottom: 2.0625rem;
}

.l-footer__list {
  display: flex;
  -moz-column-gap: 1.3125rem;
  column-gap: 1.3125rem;
  row-gap: 1.125rem;
  flex-wrap: wrap;
}

.l-footer__listLink {
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
}

.l-footer__copyright {
  display: block;
  color: #A798B7;
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.625rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .l-footer {
    padding: 3.6875rem 1.9375rem 0;
    height: 10.8125rem;
  }

  .l-footer__nav {
    margin-bottom: 1.625rem;
  }

  .l-footer__list {
    justify-content: center;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  .l-footer__listItem:first-child {
    display: none;
  }

  .l-footer__listLink {
    font-size: 0.875rem;
  }
}

/* Component
------------------------------------------------*/
.c-sectionTitle {
  color: var(--main-color, #391E88);
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.c-sectionSubTitle {
  color: var(--main-color, #391E88);
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.c-newsDate {
  color: var(--text-color, #333);
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.c-newsDate--small {
  font-size: 0.8125rem;
  letter-spacing: 0.018em;
}

.c-newsCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.125rem;
  height: 1.1875rem;
  color: var(--text-color, #333);
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-color: var(--gray-color, #E8E8E8);
  border-radius: 3.125rem;
}

.c-newsCategory--big {
  height: 1.4375rem;
}

.c-serviceTitle {
  color: var(--text-color, #333);
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.c-companyCatch {
  display: block;
  color: var(--text-color, #333);
  text-align: center;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.05em;
  white-space: nowrap;
}

.c-companyCatch--low {
  line-height: 1.28125;
}

.c-companyUnderline {
  position: relative;
}

.c-companyUnderline::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0.1875rem;
  left: 50%;
  transform: translateX(-50%);
  width: 17.5rem;
  height: 0.5rem;
  background-color: #F5F534;
  z-index: -1;
}

.c-companyUnderline--short::after {
  width: 15rem;
}

.c-companyUnderline--page::after {
  bottom: -0.0625rem;
  left: 50%;
  width: 16.625rem;
}

.c-companyUnderline--pageShort::after {
  bottom: -0.0625rem;
  left: 50%;
  width: 15rem;
}

.c-companyTitle {
  color: var(--main-color, #391E88);
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.c-description {
  color: var(--text-color, #333);
  text-align: center;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.7857142857;
  letter-spacing: 0.05em;
}

.c-description--low {
  line-height: 1.6428571429;
}

.c-recruitTitle {
  color: var(--main-color, #391E88);
  text-align: center;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .c-sectionTitle {
    font-size: 2.25rem;
  }

  .c-sectionTitle--contactPc {
    font-size: 2.125rem;
    letter-spacing: 0.018em;
  }

  .c-sectionTitle--letterSpacing20 {
    letter-spacing: 0.02em;
  }

  .c-sectionSubTitle {
    font-weight: 600;
  }

  .c-newsDate--small {
    letter-spacing: 0;
  }

  .c-newsCategory {
    height: 1.375rem;
    font-size: 0.75rem;
  }

  .c-newsCategory--big {
    height: 1.4375rem;
  }

  .c-description {
    font-size: 0.9375rem;
    line-height: 1.8;
  }

  .c-description--low {
    line-height: 1.6428571429;
  }

  .c-description--big {
    font-size: 1rem;
  }

  .c-companyCatch {
    display: inline-block;
    font-size: 2.5rem;
    line-height: 1;
  }

  .c-companyCatch:first-child {
    margin-right: -0.1875rem;
  }

  .c-companyCatch--low {
    line-height: 1;
  }

  .c-companyUnderline::after {
    content: "";
    display: none;
  }

  .c-companyUnderline:first-child::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: -1.0625rem;
    transform: translateX(0);
    width: 41.625rem;
    height: 0.75rem;
    background-color: #F5F534;
    z-index: -1;
  }

  .c-companyUnderline--short::after {
    width: 15rem;
  }

  .c-companyUnderline--page::after {
    bottom: -0.0625rem;
    left: 10.25rem;
    width: 16.625rem;
  }

  .c-companyUnderline--pageShort::after {
    bottom: -0.0625rem;
    left: 10.25rem;
    width: 15rem;
  }

  .c-serviceTitle--big {
    text-align: left;
    font-size: 1.5rem;
  }

  .c-companyTitle {
    font-size: 2rem;
  }

  .c-recruitTitle {
    font-size: 2rem;
  }
}

.c-buttonPurple {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 12.5rem;
  height: 3.375rem;
  margin: 0 auto;
  color: #FFF;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  background: var(--button-background, linear-gradient(90deg, #7633a4 0%, #250d65 100%));
  border-radius: 3.125rem;
}

.c-buttonPurple .bi-caret-right-fill {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .c-buttonPurple--big {
    width: 13.75rem;
    height: 3.1875rem;
  }
}

/* Project
------------------------------------------------*/
.p-catch {
  padding-top: 2.5625rem;
}

.p-catch__title {
  margin: 0 auto;
  max-width: 20.9375rem;
  color: var(--main-color, #391E88);
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.p-catch__subTitle {
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
  color: var(--main-color, #391E88);
  text-align: center;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.p-catch__description {
  color: var(--text-color, #333);
  text-align: center;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.05em;
}

.p-catch__img {
  margin-top: 2.1875rem;
}

@media (min-width: 768px) {
  .p-catch {
    padding-top: 7.375rem;
  }

  .p-catch__title {
    padding: 0 1.25rem;
    max-width: initial;
    font-size: 4.5rem;
    line-height: 1.1666666667;
  }

  .p-catch__nbsp {
    display: none;
  }

  .p-catch__subTitle {
    margin-top: 0.9375rem;
    margin-bottom: 2.375rem;
    font-size: 2rem;
  }

  .p-catch__description {
    font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
  }

  .p-catch__img {
    margin-top: 2.0625rem;
  }
}

.p-recruit {
  padding: 2.375rem 1.25rem 0;
}

.p-recruit__item {
  margin-top: 1.9375rem;
  padding: 1.9375rem 1.5625rem 1.75rem 1.25rem;
  background-color: #FFF;
  border: 0.0625rem solid #B8AED5;
  border-radius: 0.625rem;
}

.p-recruit__itemTitle {
  margin-bottom: 2.1875rem;
  color: var(--main-color, #391E88);
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.p-recruit__itemContent {
  padding-bottom: 0.6875rem;
  border-bottom: 0.0625rem solid #DDD;
}

.p-recruit__itemContent:not(:nth-child(2)) {
  margin-top: 1.1875rem;
}

.p-recruit__dTerm {
  color: var(--text-color, #333);
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.p-recruit__dDescription {
  margin-top: 0.5rem;
  color: var(--text-color, #333);
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6428571429;
  letter-spacing: 0.05em;
}

.p-recruit__notice {
  margin-top: 0.375rem;
  color: var(--text-color, #333);
  text-align: center;
  font-family: "Montserrat", "Hiragino Sans", "ヒラギノ角ゴシック", "Noto Sans JP", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}

@media (min-width: 768px) {
  .p-recruit {
    padding: 4.1875rem 1.25rem 0;
  }

  .p-recruit__container {
    margin: 0 auto;
    max-width: 69.375rem;
  }

  .p-recruit__item {
    margin-top: 2.625rem;
    padding: 3.875rem 5.9375rem 3.625rem;
  }

  .p-recruit__itemTitle {
    margin-bottom: 2.6875rem;
    font-size: 1.5rem;
  }

  .p-recruit__itemContent {
    padding-left: 1.25rem;
    padding-bottom: 1.5625rem;
    border-bottom: 0.0625rem solid #DDD;
  }

  .p-recruit__itemContent:not(:nth-child(2)) {
    margin-top: 1.5625rem;
  }

  .p-recruit__dList {
    display: flex;
    -moz-column-gap: 0rem;
    column-gap: 0rem;
  }

  .p-recruit__dTerm {
    flex-shrink: 0;
    width: 9.9375rem;
    font-size: 0.9375rem;
    line-height: 1.8;
  }

  .p-recruit__dDescription {
    margin-top: 0rem;
    font-size: 0.9375rem;
    line-height: 1.8;
  }

  .p-recruit__dDescriptionList {
    margin-top: 0.5rem;
  }

  .p-recruit__notice {
    margin-top: 0.375rem;
    letter-spacing: 0;
  }
}

.p-movie {
  padding: 4.9375rem 1.25rem 5rem;
}

.p-movie__videoContainer {
  margin-top: 1.9375rem;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}

.p-movie__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

@media (min-width: 768px) {
  .p-movie {
    padding: 8.625rem 1.25rem 6.875rem;
  }

  .p-movie__container {
    margin: 0 auto;
    max-width: 69.375rem;
  }

  .p-movie__videoContainer {
    margin-top: 2.625rem;
  }
}

/* Utility
------------------------------------------------*/
.u-sectionTitleMargin {
  margin-top: 0.4375rem;
}

.u-newsListMargin {
  margin-top: 2.0625rem;
}

.u-buttonMargin {
  margin-top: 1.3125rem;
}

.u-contactButtonMargin {
  margin-top: 1.5625rem;
}

.u-newsContentDescriptionMargin {
  margin-top: 3.125rem;
}

.u-recruitButtonMargin {
  margin-top: 2.5rem;
}

.u-submitButtonMargin {
  margin-top: 3.125rem;
}

@media (min-width: 768px) {
  .u-sectionTitleMargin {
    margin-top: 0.5rem;
  }

  .u-newsListMargin {
    margin-top: 0rem;
  }

  .u-buttonMargin--CompanyPc {
    margin-top: 1.5625rem;
  }

  .u-newsContentDescriptionMargin {
    margin-top: 1.25rem;
  }

  .u-recruitButtonMargin {
    margin-top: 3.1875rem;
  }
}

/*# sourceMappingURL=recruit.css.map */